<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zlhywlf.spring.cloud.member.mapper.MemberMapper">
  <resultMap id="BaseResultMap" type="zlhywlf.spring.cloud.member.model.Member">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from member
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="zlhywlf.spring.cloud.member.model.Member">
    insert into member (id, mobile)
    values (#{id,jdbcType=BIGINT}, #{mobile,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="zlhywlf.spring.cloud.member.model.Member">
    update member
    set mobile = #{mobile,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, mobile
    from member
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, mobile
    from member
  </select>
</mapper>